<div class="row">
  <div class="col s12 center">
    <h3><%= politician.name %></h3>
    <h5><%= politician.state %></h5>
    <h5><%= politician.office %></h5>
    <h5><%= politician.firstelectoff %></h5>
    <h5><%= politician.gender %></h5>
    <h5><%= politician.party %></h5>
  </div>
</div>

<div class="row"></div>