<div class="row">
  <div class="col s12">
    <h3><%= politician.name %></h3>
    <p>State: <%= politician.state %></p>
    <p>Office: <%= politician.office %></p>
    <p>First Elected: <%= politician.firstelectoff %></p>
    <p>Gender: <%= politician.gender %></p>
    <p>Candidate ID: <%= politician.cid %></p>
    <p>Party: <%= politician.party %></p>
  </div>
</div>

<div class="row"> 
  <h5>Campaign Finance Summary</h5>
  <table id="politician-table" class = "bordered striped">
    <thead>
      <tr>
          <th data-field="id">Cycle</th>
          <th data-field="name">Total</th>
          <th data-field="price">Spent</th>
          <th data-field="price">Debt</th>
          <th data-field="price">Cash On Hand</th>
      </tr>
    </thead>

    <tbody>
      <% politician.contribution_summaries.each do |summary| %>
      <tr>
        <td><%= summary.cycle %></td>
        <td><%= currency(summary.total) %></td>
        <td><%= currency(summary.spend) %></td>
        <td><%= currency(summary.debt) %></td>
        <td><%= currency(summary.cash_on_hand) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="row"> 
  <h5>Top Contributors</h5>
  <table id="politician-table" class = "bordered striped">
    <thead>
      <tr>
          <th data-field="id">Organization Name</th>
          <th data-field="name">Pacs</th>
          <th data-field="price">Individuals</th>
          <th data-field="price">Total</th>
      </tr>
    </thead>

    <tbody>
      <% politician.top_contributors.each do |contributor| %>
      <tr>
        <td><%= contributor.org_name %></td>
        <td><%= currency(contributor.pacs) %></td>
        <td><%= currency(contributor.indivs) %></td>
        <td><%= currency(contributor.total) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="row"> 
  <h5>Top Industries</h5>
  <table id="politician-table" class = "bordered striped">
    <thead>
      <tr>
          <th data-field="id">Industry Name</th>
          <th data-field="name">Pacs</th>
          <th data-field="price">Individuals</th>
          <th data-field="price">Total</th>
      </tr>
    </thead>

    <tbody>
      <% politician.top_industries.each do |contributor| %>
      <tr>
        <td><%= contributor.industry_name %></td>
        <td><%= currency(contributor.pacs) %></td>
        <td><%= currency(contributor.indivs) %></td>
        <td><%= currency(contributor.total) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<a id="restart" class="btn-large waves-effect waves-light orange" href="/">Restart</a>
